<!DOCTYPE html>
<html>
  <head>
    <title>TjalCrawler</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    
  </head>

  <body>
    <main>
      <%= yield %>
    </main>

    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'SearchPage' %>
  </body>
</html>
